# **PokéAnalyzer**

PokéAnalyzer helps Pokémon trainers make smarter choices during their journey.  
By analyzing stats, abilities, and types, it becomes easier to build stronger teams, avoid weak picks, and understand which Pokémon are truly worth the Pokéballs.  
Knowledge is power — especially when your opponent sends out a level 100 Gyarados.

---

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from db_connection import get_db_connection 

sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 6)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

def run_query(query):
    # connection
    engine = create_engine("postgresql+psycopg2://postgres:DevIns123@localhost:5432/pokemon")
    df = pd.read_sql_query(query, engine)
    return df

In [ ]:
# trial query to one of the tables, to show general info about 10 first pokemons

query = "SELECT * FROM pokemons LIMIT 10;"
pokemons_df = run_query(query)
pokemons_df

In [ ]:
# count qty of the pokemons
query = "SELECT COUNT(*) AS total_pokemons FROM pokemons;"
pokemons_count_df = run_query(query)

# Show the result
total_pokemons = pokemons_count_df.loc[0, 'total_pokemons']
print(f"Total number of pokemons in our database: {total_pokemons}")

In [ ]:
# Query to count number of pokemons by type
query = """
SELECT t.name AS type_name, COUNT(pt.pokemon_id) AS count
FROM types t
JOIN pokemon_types pt ON t.id = pt.type_id
GROUP BY t.name
ORDER BY count DESC;
"""

# Execute query
types_count_df = run_query(query)

# Show the table
display(types_count_df)

# Plot the results
plt.figure(figsize=(12, 6))
sns.barplot(x="count", y="type_name", data=types_count_df, hue="type_name", dodge=False, palette="viridis", legend=False)
plt.title("Number of Pokemons by Type")
plt.xlabel("Number of Pokemons")
plt.ylabel("Type")
plt.show()

In [ ]:
# Query to get the top 10 most common Pokémon abilities
abilities_count_df = run_query(""" 
SELECT 
    a.name AS ability_name,
    COUNT(pa.pokemon_id) AS count
FROM abilities a
JOIN pokemon_abilities pa ON a.id = pa.ability_id
GROUP BY a.name
ORDER BY count DESC
LIMIT 10;
""")

plt.figure(figsize=(10, 6))
sns.barplot(x="ability_name", y="count", data=abilities_count_df, palette="viridis", hue="ability_name")
plt.title("Top 10 Most Common Pokémon Abilities")
plt.xlabel("Ability Name")
plt.ylabel("Count of Pokémon")
plt.xticks(rotation=45, ha="right")
plt.show()

In [ ]:
# Query to get height and weight of Pokémon
height_weight_df = run_query("""
SELECT name, height, weight
FROM pokemons;
""")

plt.figure(figsize=(10, 6))
sns.scatterplot(x="height", y="weight", data=height_weight_df, color='blue')
plt.title("Distribution of Pokémon Height and Weight")
plt.xlabel("Height (meters)")
plt.ylabel("Weight (kg)")
plt.show()

In [ ]:
# Query to get average value of each stat
average_stats_df = run_query("""
SELECT 
    s.name AS stat_name,
    AVG(ps.value) AS average_value
FROM pokemon_stats ps
JOIN stats s ON ps.stat_id = s.id
GROUP BY s.name
ORDER BY average_value DESC;
""")

plt.figure(figsize=(10, 6))
sns.barplot(
    x="stat_name",
    y="average_value",
    data=average_stats_df,
    palette="mako",
    hue="stat_name",  
    legend=False      
)
plt.title("Average Value of Pokémon Stats")
plt.xlabel("Stat Name")
plt.ylabel("Average Value")
plt.show()

In [ ]:
# Query to get top Pokémon by total base stats
strongest_pokemons_df = run_query("""
SELECT 
    p.name AS pokemon_name,
    SUM(ps.value) AS total_stats
FROM pokemons p
JOIN pokemon_stats ps ON p.id = ps.pokemon_id
GROUP BY p.name
ORDER BY total_stats DESC
LIMIT 10;
""")

strongest_pokemons_df

In this project, I analyzed a dataset containing information about Pokémon. I performed various SQL queries to extract and analyze different aspects of the data. The following steps were undertaken:

1. **Data Extraction:**
   - I queried the Pokémon database to retrieve relevant information such as Pokémon types, abilities, stats, height, and weight.

2. **Data Visualization:**
   - Several visualizations were created to provide insights into the dataset:
     - A **bar chart** for the most common Pokémon types.
     - A **scatter plot** for the distribution of height and weight among Pokémon.
     - A **bar chart** for the average values of Pokémon stats.
     - A **table** displaying the strongest Pokémon based on the sum of their stats.

3. **Key Findings:**
   - The most common Pokémon types were determined, showcasing the popularity of specific types in the Pokémon universe.
   - The average stats for different categories like HP, Attack, Defense, etc., provided an understanding of typical Pokémon attributes.
   - The strongest Pokémon, based on their stats, were identified, showing the most powerful Pokémon in terms of stat sums.

This analysis gives a deeper insight into the characteristics of Pokémon and allows for a better understanding of their various attributes. It also serves as a good foundation for more detailed analysis and prediction models in future projects.